//colors
$antiquewhite : #faebd7;
$black : #000000;
$white : #ffffff;
$red : #ff0000;

//font-size
$font-size-xs : 0.7rem;
$font-size-sm : 0.8rem;
$font-size-base : 1rem;
$font-size-lg : 2rem;
$font-size-xl : 2.2rem;
$font-size-4xl : 4.5rem;

//font-weight
$font-weight-lighter : 200;
$font-weight-light : 300;
$font-weight-normal : 400; 
$font-weight-medium : 500;  
$font-weight-semi-bold : 600;
$font-weight-bold : 700;
$font-weight-extra-bold : 800; 
$font-weight-black : 900; 

//