

.body-bg {
  background-color: antiquewhite;
}

.navbar {
  padding-bottom: 0 !important;
}

.header-backg {
  background-image: url("img/slide-5.jpeg");
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}


.header-overlay {
  position: relative;
  width: 100wv;
  height: 350px;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

/* .overlay-text {
  font-size: 3rem;
  color: white;
  font-family: "Mr Dafoe";
} */

.header-nav {
  list-style-type: none;
}

.header-nav li {
  float: left;
  margin: 10px 10px;
}

.header-nav li a {
  display: block;
  color:#fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 700;
}

.header-nav li.active {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

.mr-dafoe-regular {
  font-family: cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 4.5rem;
  color: white;
  text-align: center;
  line-height: 0.9;

}

.mr-dafoe-regular p {
  margin: 0px;
  padding: 0px;
}

.mr-dafoe-regular p.smaller-hw {
  font-weight: 200;
  font-size: 2rem;
}

.bottom-text {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
}

#story-section {
  margin-top: 4rem;
}

h4 {
  font-weight: 700;
}
h6 {
  font-size: 2.2rem;
  font-weight: 700;
}

.spacer1-backg {
  background-image: url("img/image-divider-1.jpeg");
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.center-div {
  position: absolute;
  /* bottom: 2px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer-margin {
  margin-top: 2rem;
}

.spacer-margin p {
  margin-bottom: 0;
}

#wedding-section {
  margin-top: 4rem;
}

.spacer2-backg {
  background-image: url("img/image-divider-2.jpeg");
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.kocka {
  height: 100px;
  width: 100px;
  padding-top: 20px;
  margin: 5px;
  background-color: white;
  text-align: center;
}

.footer-backg {
  background-image: url("img/footer-1.jpeg");
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#center-form {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 1px;
}

#option{
  overflow-y: hidden !important;
}
